# Compiled files
__pycache__/
*.pyc

# Editor
.vscode

# Environments
venv/

# Logging
log/*.log

# Package Data
data/real

# Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.tox/
.coverage
htmlcov/